<nav layout="row">
  <ul layout="row" class="menu">
    <li flex>
      <md-button ng-click="$ffNavigate.scrollTo('about')">
        About
      </md-button>
    </li>
    <li flex>
      <md-button ng-click="$ffNavigate.scrollTo('work')">
        Work
      </md-button>
    </li>
    <li flex>
      <md-button ng-click="$ffNavigate.scrollTo('team')">
        Team
      </md-button>
    </li>
    <li flex>
      <md-button ng-click="$ffNavigate.scrollTo('contact')">
        Contact
      </md-button>
    </li>
  </ul>
  <div class="social">
    <ul class="layout horizontal">
      <li class="flex">
        <md-button style="background:#fff;" class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="assets/icons/ic_facebook.svg"></md-icon>
        </md-button>
      </li>
      <li class="flex">
        <md-button style="background:#fff;" class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="assets/icons/ic_twitter.svg"></md-icon>
        </md-button>
      </li>
      <li class="flex">
        <md-button style="background:#fff;" class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="assets/icons/ic_instagram.svg"></md-icon>
        </md-button>
      </li>
    </ul>
  </div>
</nav>
