<nav layout="row">
  <ul layout="row">
    <li flex>
      <md-button ng-click="$ffNavigate.scrollTo('about')">
        About
      </md-button>
    </li>
    <li flex>
      <md-button ng-click="$ffNavigate.scrollTo('work')">
        Work
      </md-button>
    </li>
    <li flex>
      <md-button ng-click="$ffNavigate.scrollTo('team')">
        Team
      </md-button>
    </li>
    <li flex>
      <md-button ng-click="$ffNavigate.scrollTo('contact')">
        Contact
      </md-button>
    </li>
  </ul>
  <div class="social">
    <ul class="layout horizontal">
      <li class="flex"></li>
      <li class="flex"></li>
      <li class="flex"></li>
    </ul>
  </div>
</nav>
