<section id="sectionHome" flex>

	<header flex layout="column">
		<div nav-website></div>
		<!-- <nav layout="row">
			<ul layout="row">
				<li flex>
					<md-button ng-click="scrollTo('about')">
						About
					</md-button>
				</li>
				<li flex>
					<md-button ng-click="scrollTo('work')">
						Work
					</md-button>
				</li>
				<li flex>
					<md-button ng-click="scrollTo('team')">
						Team
					</md-button>
				</li>
				<li flex>
					<md-button ng-click="scrollTo('contact')">
						Contact
					</md-button>
				</li>
			</ul>
			<div class="social">
				<ul class="layout horizontal">
					<li class="flex"></li>
					<li class="flex"></li>
					<li class="flex"></li>
				</ul>
			</div>
		</nav> -->
		<div class="bg-header-slide" flex>
			<md-button aria-label="scrollto about" class="md-icon-button" ng-click="$ffNavigate.scrollTo('about')">
				<md-icon md-svg-icon="assets/icons/ic_keyboard_arrow_down_white_24px.svg"></md-icon>
			</md-button>
		</div>
	</header>

	<section layout-gt-xs="column" layout-align="start center" class="about separator" id="about">
		<!-- <div class="layout horizontal">
		</div> -->
		<div class="flex" layout-gt-xs="row">
			<div flex-gt-xs hide-xs>
				<img style="top: 100px; position: relative;" src="assets/images/logoBig.png" alt="" width="80%;"/>
			</div>
			<div flex flex-gt-xs="55">
				<h3>ABOUT</h3>
				<p>
					We love to communicate. We love to do it in a different and sustainable way.
					We love new technologies, understood as an inherent part of our lives.
					And we have one goal: we want to change the world.
					Yes. Just as pretentious at is sounds.
				</p>

				<p><b>BUT HOW?</b><p>

				<p>
					We are convinced that brands that want to do something good for their consumers
					and society in general could change the world along with us. This is only possible
					by giving back to the consumers a part of what they have already given to the brands.
					We are not talking about a short term reward. We are talking about creating a bond
					with them that goes beyond a 2x1 offer on a product, we are talking of establishing
					a new way of interacting with people. Being more a friend than a company.
				</p>

				<p>
					<b>We are talking about human beings. </b>
				</p>

			</div>

		</div>
		<div class="whatwedo" hide-xs>
			<img src="assets/images/whatwedo.jpg" width="100%" alt="" />
		</div>
	</section>

	<section layout="column" layout-align="start center" class="work separator" id="work">
		<div class="layout horizontal title" layout-align="center">
			<h3>WORK</h3>
			<div layout="row" hide-xs>
				<md-button class="md-icon-button" aria-label="column">
					<md-icon md-svg-icon="assets/icons/ic_view_column_black_24px.svg"></md-icon>
				</md-button>
				<md-button class="md-icon-button" aria-label="module">
					<md-icon md-svg-icon="assets/icons/ic_view_module_black_24px.svg"></md-icon>
				</md-button>
			</div>
		</div>
		<div layout="column" layout-gt-xs="row" class="flex">
			<div
			layout="column"
			flex
			layout-align="start center"
			ng-repeat="(k,v) in $ffWorks.works track by $index"
			ng-click="selectWork(v)">
				<img ng-src="{{v.url}}" alt="" width="95%;"/>
				<p>
					{{v.name}}
				</p>
			</div>
		</div>
	</section>

	<section layout="column" layout-align="start center" class="team separator" id="team">
		<div layout="row" layout-align="start center">
			<h3>TEAM</h3>
		</div>
		<div layout="column" layout-gt-xs="row" flex>
			<div layout="column" layout-padding flex layout-align="start center">
				<img src="assets/images/antonio.jpg" alt="" width="80%;"/>
				<p>
					<b>ANTONIO GARCÍA</b> /  The Executive
				</p>
				<span>
					A man with a privileged mind. And an accordingly
					sized head. He has years of experience within
					the new technologies market and a gift to discern
					what’s best from what’s good enough.
				</span>
			</div>
			<div layout="column" layout-padding flex layout-align="start center">
				<img src="assets/images/fer.jpg" alt="" width="80%;"/>
				<p>
					<b>FER GARCÍA</b> / The Creative
				</p>
				<span>
					His mother still doesn’t understand what he does
					for a living. He has worked as a Creative and Art
					Director for major brands for more than 15 years.
					And what’s more important, he can cook “paella”.
				</span>
			</div>
			<div layout="column" layout-padding flex layout-align="start center">
				<img src="assets/images/arturo.jpg" alt="" width="80%;"/>
				<p>
					<b>ARTURO ZARZALEJO</b> / The Technician
				</p>
				<span>
					What came first? Arturo or coding? Our particular
					“nerd” has his head set on the ground and his feet
					many steps ahead. No machine can resist him, and
					some say neither can women.
				</span>
			</div>

		</div>
	</section>

	<section layout="column" layout-wrap class="contact" id="contact">
		<div class="horizontal layout-center">
			<h3>CONTACT</h3>
		</div>
		<div layout="row" flex>
			<div flex layout="column">
				<md-input-container flex>
		      <label>Name (Required)</label>
		      <input ng-model="contact.name">
		    </md-input-container>
				<md-input-container flex>
		      <label>Email (Required)</label>
		      <input ng-model="contact.email">
		    </md-input-container>
				<md-input-container flex>
		      <label>Subject</label>
		      <input ng-model="contact.subject">
		    </md-input-container>
			</div>
			<div flex="65" class="info">
				<span>
					Just drop us a line and we will get back to you with a big smile.
					You can also give us a call or send us a direct e-mail:
				</span>
				<ul>
					<li><span>hi@thefatfinger.com</span></li>
					<li><span>+34 656 483 659 / +34 650 876 445</span></li>
				</ul>
				<h3 style="display:none;">FOLLOW THE FINGER!</h3>
				<div class="social" style="display:none;">
			    <ul class="layout horizontal">
			      <li class="flex">
			        <md-button class="md-icon-button" aria-label="More">
			          <md-icon md-svg-icon="assets/icons/ic_facebook.svg"></md-icon>
			        </md-button>
			      </li>
			      <li class="flex">
			        <md-button class="md-icon-button" aria-label="More">
			          <md-icon md-svg-icon="assets/icons/ic_twitter.svg"></md-icon>
			        </md-button>
			      </li>
			      <li class="flex">
			        <md-button class="md-icon-button" aria-label="More">
			          <md-icon md-svg-icon="assets/icons/ic_instagram.svg"></md-icon>
			        </md-button>
			      </li>
			    </ul>
			  </div>
			</div>
		</div>
		<div>
			<!-- <paper-textarea label="Message"></paper-textarea> -->
			<md-input-container class="md-block">
				 <label>Message</label>
				 <textarea ng-model="contact.content" md-maxlength="150" rows="3" md-select-on-focus></textarea>
			 </md-input-container>
		</div>
		<div>
			<md-button style="background: #e43e55; color:#FFF;" layout-margin ng-click="send()">
				Enviar
			</md-button>
		</div>
	</section>

	<footer layout="row">
		<div layout="column" flex layout-align="center center" layout-padding>
			<img src="assets/images/logoPetit.png" alt="logo" width="15%;"/>
			<p class="md-caption">
				Copyright 2016 THE FAT FINGER. All rights reserved.
			</p>
		</div>
	</footer>

</section>
