#sectionHome {
	// padding: 1em;
	color: #e43e55;
	height: 100vh;
	* {
		box-sizing: border-box;
	}
	.separator {
		&:after {
			content: '';
	    background-image: url(../assets/images/separador.jpg);
	    width: 100%;
	    bottom: 0px;
	    position: absolute;
	    background-position: top center;
	    background-repeat: no-repeat;
	    height: 60px;
	    padding: 0 20px;
	    box-sizing: border-box;
		}
	}
	header{
		height: 100%;
		position: relative;
		margin: 0;
		padding: 0;
		.bg-header-slide {
			height: 100%;
			background-image: url('../assets/images/Carrusel_1_baja.gif');
			background-position: top center;
			background-size: cover;
			position: absolute;
			/*padding-top: 51px;*/
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			.md-button {
				top: 100%;
				transform: translate(-50%,-100%);
				left: 50%;
				width: 60px;
				height: 60px;
				md-icon {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	// header nav {
	// 	position: relative;
	// 	z-index: 2;
	// 	background:#e43e55;
	// 	color: #FFF;
	// 	ul{
	// 		margin: 0 auto;
	// 		padding: 1em;
	// 		position: relative;
	// 		max-width: 350px;
	// 		width: 100%;
	// 		li{
	// 			list-style: none;
	// 		}
	// 	}
	// 	.social {
	// 		position: absolute;
	//     right: 10px;
	//     top: 50%;
	//     transform: translate(0, -50%);
	//     width: 100px;
	// 	}
	// }

	section.about {
		max-width: 1000px;
		height: 90%;
		margin: 0 auto;
		position: relative;
		.whatwedo {
			top: -100px;
    	position: relative;
		}
		>div {
			color: #e43e55;
			h3 {
				font-size: 3em;
			}
		}
	}
	// section.about >div:first-child{
	// 	text-align: center;
	// 	font-size: 3em;
	// }

	section.work {
		max-width: 1000px;
		height: 80%;
		position: relative;
		margin: 0 auto;
		.title {
			width: 100%;
			position: relative;
			div {
				position: absolute;
		    width: 120px;
		    right: 20px;
		    top: 50%;
		    transform: translate(0, -50%);
				md-icon {
					color: #e43e55;
				}
			}
		}
	}
	section.work >div:first-child {
		color: #e43e55;
		text-align: center;
		font-size: 3em;
	}

	section.team {
		max-width: 1000px;
		height: 90%;
		position: relative;
		margin: 0 auto;
	}
	section.team >div:first-child {
		color: #e43e55;
		text-align: center;
		font-size: 3em;
	}

	section.contact {
		max-width: 1000px;
		height: 80%;
		position: relative;
		margin: 0 auto;
		.info {
			padding: 1em;
			>span {
				margin: 0.5em 0;
			}
			>ul {
				padding: 0;
				margin: 0.5em 0;
				li {
					list-style: none;
				}
			}
			.social {
				width: 180px;
				ul {
					padding: 0;
				}
				li {
					list-style: none;
					button {
						background: #e43e55;
						md-icon {
							color: #FFF;
						}
					}
				}
			}
		}
		> div{
			&:first-child {
				color: #e43e55;
				text-align: center;
				font-size: 3em;
			}
		}
	}

	footer {
		background: #e43f55;
		color: #fff;
	}
}
